.modal__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
  }
  
  .modal__content {
    position: relative;
    width: auto;
    margin: 10px;
    transition: opacity 0.3s ease-in;
    display: flex;
    flex-direction: column;
    background-clip: padding-box;
            background-image: url('../../images/card/bigfon.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: 4px solid white;
            border-radius: 40px;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.21vw;
            font-weight: 500;
  }
  
  @media (min-width: 576px) {
    .modal__content {
      max-width: 500px;
      margin: 50px auto;
    }
  }
  
  .modal__show .modal__backdrop,
  .modal__show .modal__content {
    opacity: 1;
    z-index: 1050;
    pointer-events: auto;
    overflow-y: auto;
  }
  


  /*.modal__btn-close {
    padding-left: 95%;
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
  }
  */
  .modal__body {
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%;
    display: grid;
    width: 80%;
    height: 75vh;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    column-gap: 5%;;
    overflow: hidden;
  }
  
  .modal__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;

  }

  .btn__cancel{
  
            width: 20%;
            height: 5vh;
            background-color: #DE9E15;
            border-width: 0;
            border-radius: 12px;
            color: white;
            font-weight: 400;
  }

  .hero__container__container2 {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 1fr);
}

.hero__container__container2 span {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}

.hero__container__img {
    width: 100%;
}
