@import "./commentsBox/commentsBox.scss";
@import "./__block/_block";
@import "./__form/_form";
@import "./__button/_button";
@import "./__result/_result";

.comments {
    background-image: url('../../images/mainpage/hat.png');
    background-repeat: no-repeat;
    background-size: 105%;
    height: 104vh;
}


.comments__result {
    display: flex;
    flex-direction: column;
    max-height: 480px;
    overflow: hidden;

}

.comments__result::-webkit-scrollbar {
    width: 3px;
}

.comments__result::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

.comments__result::-webkit-scrollbar-thumb {
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .25)), color-stop(.5, transparent), to(transparent));
}