
/*.spell-card {
    margin: auto;
    width: 450px;
    height: 270px;
    background-image: url('../../images/card/smallfon.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid white;
    border-radius: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.21vw;
    font-weight: 500;
}

.spell-card__container {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    display: grid;
    width: 82%;
    height: 70%;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
}
*/

/*.spell-card__container__button {
    margin-left: 70%;
    width: 22%;
    height: 12%;
    background-color: #DE9E15;
    border-width: 0;
    border-radius: 12px;
    color: white;
    font-weight: 400;
}*/