.mainpage__container__search {
  width: 90%;
  height: 50%;
  display: inline-flex;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;

}

.mainpage__container__search:hover {
  border-color: #DE9E15;
}