.form-control {
    box-sizing: border-box;
    background: 0%;
    border: 4px solid white;
    width: 28rem;
    color: rgba(255, 255, 255, 0.49);
    font-size: 20px;
    padding-left: 2rem;

}

.form-name {

    height: 12vh;
    border-radius: 19px;
    outline: none;
}

.form-comment {
    box-sizing: border-box;
    height: 30vh;
    border-radius: 29px;
    margin: 3rem 0;
    padding: 3vh 0 0 4vh;
    outline: none;

}