.registrationForm {
    display: none;
    margin-left: 32%;
    position: absolute;
    z-index: 9999;
    justify-content: center;
    border-radius: 40px;
    color: white;

}

.registration_template {
    background-color: #1D1D1F;
    width: 95%;
    height: 120vh;
    border-radius: 31px;

}

.registration_template_pic {
    display: flex;
}

.registration_template_pic_Harry {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.68vh;
    width: 90%;
}


.registration_welcome_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.51vw;
    color: #FFFFFF;
    text-align: center;
}

.nameColor {
    color: #DE9E15;
}

.registration_template_fieldset {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 7%;

}

.emailBlock,
.passwordBlock,
.loginBlock,
.heroBlock {
    display: grid;
    margin-bottom: 2vh;
    width: 87%;
}

.email,
.password,
.login,
.selectHero {
    border-radius: 8px;
    width: 100%;
    height: 6vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.21vw;
    line-height: 3.68vh;
    color: #1F2832;
    padding-left: 1.21vw;
    border-style: solid;

}

.emailLabel,
.passwordLabel,
.loginLabel,
.heroLabel {
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.21vw;
    margin-bottom: 1.22vh;
}

.restorePass_Link {
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 1.21vw;
}

.rememberText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.21vw;
    line-height: 100%;
    color: #FFFFFF;
}

.checkboxBlock {
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 32.01vw;
    justify-content: space-between;
    font-family: 'Roboto';
}


.registration_Buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-family: 'Roboto';
    margin-top: 0.7em;
}


.signUpButton_close {
    width: 35%;
    height: 7vh;
    border-radius: 8px;
    padding: 0px;

    color: #fff;
    font-family: 'Roboto';
    background-color: #966806fa;
    border-style: solid;
    border: none;
}

.signUpButton_registration {
    width: 60%;
    height: 7vh;
    border-radius: 8px;
    padding: 0px;

    color: #fff;
    background-color: #DE9E15;
    border-style: solid;
    border: none;
}

.pasInfo {
    height: 2vh;
    color: white;
    font-family: 'Roboto';
}

.valid {
    border: 2px solid rgb(26, 204, 58);

}

.error {
    border: 2px solid rgb(203, 68, 104);
}

input {
    outline: 0;
}