.spellsGallery {
  width: 100%;
  height: 70vh;
  background-image: url('../..//images/spells/fon.png');
  background-attachment: scroll;
  background-position: 3% 24.5%;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;


}

.spells__img {
  text-align: center;
}

.spellsGallery_wrapper {
  display: block;

}


a {
  color: #000000;
  /* Цвет обычной ссылки */
  text-decoration: none;
  /* Убираем подчёркивание у ссылок */
}

a:hover {
  color: #DE9E15;
  /* Цвет ссылки при наведении */
  text-decoration: none;
  /* Добавляем подчёркивание */
}